/* STYLING THE INFO BOX */
#modal {
  background-image: url("/Tower-of-Mobs/photos/endBackground.png");
  background-size: contain;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#resetOpened {
  background-color: rgba(41, 158, 41, 0.62);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
#textbox {
  background-size: cover;
  border-radius: 2px;
  height: 450px;
  margin: 150px auto;
  padding: 8px;
  width: 650px;
}
#resetText {
  background-image: url("/Tower-of-Mobs/photos/peekingCreeper.png");
  box-shadow: rgb(97, 96, 96) 5px 5px 5px;
  border-radius: 2px;
  height: 450px;
  margin: 150px auto;
  padding: 8px;
  width: 650px;
}
div#resetText p {
  text-align: center;
}
#open {
  padding: 25px 900px;
  font-size: medium;
  font-style: oblique;
  background-image: url("/Tower-of-Mobs/photos/clouds2.png");
  background-size: contain;
  color: white;
  border: none;
  text-shadow: gray 2px 2px;
  cursor: pointer;
}
#reset1 {
  font-size: x-large;
}
#reset2 {
  color: white;
  font-size: x-large;
}
span.flexButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#nevermind {
  grid-row: 1;
}
#continue {
  grid-row: 3;
}
#mTitle {
  text-align: center;
}
#explain {
  font-family: cursive;
  color: rgb(245, 116, 137);
  text-align: center;
  text-shadow: whitesmoke 1px 1px;
}
#info2 {
  list-style-type: circle;
  font-size: large;
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  text-shadow: rgb(91, 150, 170) 2px 2px 2px;
}
#close {
  background-image: url("/Tower-of-Mobs/photos/moon.png");
  background-size: cover;
  font-weight: bolder;
  text-shadow: ivory 2px 2px 2px;
  padding: 20px;
}
body {
  background-color: seashell;
  padding: 0;
  margin: 0;
}
#title {
  text-align: center;
  font-family: "Freckle Face", cursive;
  font-size: 100px;
  margin-top: 0;
  color: purple;
  text-shadow: plum 5px 5px;
}
img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}
.fullContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 100px;
}
/* -----------------first tower */
#hdr1 {
  grid-column: 1;
  grid-row: 2;
  padding: 0 50px 0 120px;
}
ul.container1 {
  grid-column: 1;
  grid-row: 1;
  padding-inline-start: 0%;
  display: flex;
  flex-direction: column-reverse;
}
#tower1 {
  width: 350px;
  height: 205x;
  border: 5px solid purple;
  border-bottom: purple solid 15px;
}

/* ---------------------second tower */
#hdr2 {
  grid-column: 2;
  grid-row: 2;
  padding: 0 50px 0 120px;
}
ul.container2 {
  grid-column: 2;
  grid-row: 1;
  width: 350px;
  height: 168px;
  border: 1px solid #aaaaaa;
  padding-inline-start: 0%;
  display: flex;
  flex-direction: column-reverse;
}
#tower2 {
  width: 350px;
  height: 205px;
  border: 5px solid purple;
  border-bottom: purple solid 15px;
}
/* ------------------------third tower */
#hdr3 {
  grid-column: 3;
  grid-row: 2;
  padding: 0 50px 0 120px;
}
ul.container3 {
  grid-column: 3;
  grid-row: 1;
  padding-inline-start: 0%;
  display: flex;
  flex-direction: column-reverse;
}
h2 .h2 {
  padding-left: 95px;
}
#tower3 {
  width: 350px;
  height: 205x;
  border: 5px solid purple;
  border-bottom: purple solid 15px;
}
#openReset {
  padding: 20px 900px 115px;
  background-image: url("/Tower-of-Mobs/photos/grassBlock.png");
  background-size: contain;
  border: none;
  font-weight: bolder;
  color: white;
  text-align: center;
  text-shadow: rgb(165, 157, 157) 1px 1px 1px;
  cursor: pointer;
}

.winStatement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background-image: url("/Tower-of-Mobs/photos/animalLove.png");
  background-size: contain;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease;
  height: 100%;
  width: 100%;
}
.font-effect-fire-animation {
  font-size: 100px;
}
#firstW {
  text-align: start;
  padding-left: 50px;
}
#secondW {
  text-align: end;
  padding-right: 50px;
}
#thirdW {
  text-align: center;
  padding-top: 100px;
}
img {
  cursor: grab;
}
@media screen and (max-width: 480px) {
  body {
    height: 50vh;
    width: 50vh;
  }
}
